th {
  text-align: center;
  color: #fff;
  background-color: #706d97;
}
td {
  text-align: center;
  min-width: 250px;
  color: #696969;
  border-bottom: 1px solid #eee;
}
th,
td {
  padding: 10px;
  height: 20px;
}
td:first-child {
  width: 150px;
  min-width: 0;
}
th:last-child {
  text-align: center;
}
td:last-child {
  width: 80px;
  min-width: 0;
  text-align: center;
}
tr:nth-child(odd) {
  background-color: #eee;
}
